<!DOCTYPE html>
<html ng-app="cvio">
  <head>
    <title>Profil verwalten</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="cv.css" rel="stylesheet" media="screen"/>
    <link href="lib/bootstrap.css" rel="stylesheet" media="screen"/>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/ui/jquery-ui.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-resource.min.js"></script>
    <script src="lib/ui-bootstrap-tpls.min.js"></script>    
    <script src="cvio.js"></script>
  </head>
  <body>

    <div class="container" ng-controller="CvCtrl">
     <h3>Profil {{cv.givenName}} {{cv.familyName}}</h3>
      <br/>
    
    <ul class="nav nav-tabs">
      <li class="active"><a href="#general" data-toggle="tab">Allgemein</a></li>
      <li><a href="#experience" data-toggle="tab">Erfahrungen</a></li>
      <li><a href="#skills" data-toggle="tab">Skills</a></li>
      <li  class="pull-right">
          <!-- Navigation -->
	      <div>
	        <a href="/"
	           class="btn btn-default btn-md">
	          <span class="glyphicon glyphicon-chevron-left"></span> &Uuml;bersicht
	        </a>
	        <button ng-click="save()" type="button" class="btn btn-default btn-md">
	          <span ng-if="modified" class="glyphicon glyphicon-floppy-save text-danger"></span>
	          <span ng-if="! modified" class="glyphicon glyphicon-floppy-saved text-success"></span>
	          Speichern
	        </button>
	      </div>
      
      </li>
    </ul>
<br>
    <div class="tab-content">
      <div id="general" class="tab-pane active" >
      <!-- Allgemeine Daten -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Allgemeine Daten</h3>
        </div>
        <div class="panel-body">

          <form class="form-horizontal" role="form">
            
            <cv-short-field ng-model="cv.userName" input-id="userName" label="Benutzername"></cv-short-field>
            <cv-short-field ng-model="cv.givenName" input-id="givenName" label="Vorname"></cv-short-field>
            <cv-short-field ng-model="cv.familyName" input-id="familyName" label="Nachname"></cv-short-field>
            <hr/>
            <cv-short-field ng-model="cv.placeOfBirth" input-id="placeOfBirth" label="Geburtsort-/Land"></cv-short-field>
            <cv-short-field ng-model="cv.languages" input-id="languages" label="Sprachen"></cv-short-field>
            <cv-short-field ng-model="cv.familyStatus" input-id="familyStatus" label="Familienstand/Kinder"></cv-short-field>
            <cv-short-field ng-model="cv.interests" input-id="interests" label="Interessen/Hobbys"></cv-short-field>
          </form>
        </div>   
      </div>

      <!-- Kontaktinfomationen -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Kontaktinfomationen</h3>
        </div>
        <div class="panel-body">

          <form class="form-horizontal" role="form">
            <cv-short-field ng-model="cv.email" input-id="email" label="E-Mail"></cv-short-field>
            <cv-short-field ng-model="cv.phoneMobile" input-id="phoneMobile" label="Telefon (Mobil)"></cv-short-field>
            <cv-short-field ng-model="cv.phoneFixed" input-id="phoneFixed" label="Telefon (Arbeit)"></cv-short-field>
            <cv-short-field ng-model="cv.phoneFixedPrivate" input-id="phoneFixed" label="Telefon (Privat)"></cv-short-field>
            <cv-short-field ng-model="cv.xingProfile" input-id="xingProfile" label="Xing Profil"></cv-short-field>

            <hr/>
            <cv-short-field ng-model="cv.streetAddress" input-id="streetAddress" label="Stra&szlig;e, Hausnummer"></cv-short-field>
            <div class="form-group">
              <label for="postalcode" class="col-sm-2 control-label">PLZ/Ort</label>
              <div class="col-sm-2">
                <input type="text" class="form-control input-sm" id="postalcode" ng-model="cv.postalcode">
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control input-sm" id="locality" ng-model="cv.locality">
              </div>
            </div>
          </form>
        </div>   
      </div>
    </div>


    <div id="experience" class="tab-pane" >

      <!-- Ausbildung -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div>
            <span class="panel-title"><strong>Ausbildung</strong></span>
            <button ng-click="addEducation()" type="button" class="btn btn-default btn-xs pull-right">
              <span class="glyphicon glyphicon-plus"></span> Ausbildung Einfügen
            </button>
          </div>
        </div>      
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>von</th>
                  <th>bis</th>
                  <th>Beschreibung</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="education in cv.educations">
                  <td width="40"><button ng-click="deleteEducation(education)" type="button" class="btn btn-default btn-xs pull-right">
                      <span class="glyphicon glyphicon-trash"></span>
                  </button></td>
                  <td width="150">
                    <cv-date-field ng-model="education.start"></cv-date-field>
                  </td>
                  <td width="150">
                    <cv-date-field ng-model="education.end"></cv-date-field>
                    </div>
                  </td>
                  <td>
                    <div class="row" style="margin-bottom: 1px;">
                      <div class="col-sm-3" style="text-align: right;">Typ</div>
                      <div class="col-sm-3">
                        <select class="form-control input-sm" ng-model="education.type">     
                          <option value="school">Schule</option>
                          <option value="education">Ausbildung</option>
                          <option value="university">Uni/FH</option>
                          <option value="training">Fortbildung/Schulung</option>
                          <option value="researchProjects">Besondere Studienarbeit</option>
                          <option value="other">Sonstiges</option>
                        </select>
                      </div>
                    </div>
                    <cv-ce-form-row label="Titel" ng-model="education.title" font-style="font-weight: bold;"></cv-ce-form-row>
                    <cv-ce-form-row label="Beschreibung" ng-model="education.description"></cv-ce-form-row>
                  </td>
                </tr>
              </tbody>
            </table>          
          </form>
        </div>
      </div>



      <!-- Projekt & Berufserfahrung -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div>
            <span class="panel-title"><strong>Projekt & Berufserfahrung</strong></span>
            <button ng-click="addJob()" type="button" class="btn btn-default btn-xs pull-right">
              <span class="glyphicon glyphicon-plus"></span> Projekt/Berufserfahrung einfügen
            </button>
          </div>
        </div>      
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>von</th>
                  <th>bis</th>
                  <th>Beschreibung</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="job in cv.jobs">
                  <td width="40"><button ng-click="deleteJob(job)" type="button" class="btn btn-default btn-xs pull-right">
                      <span class="glyphicon glyphicon-trash"></span>
                  </button></td>
                  <td width="150">
                    <cv-date-field ng-model="job.start"></cv-date-field>
                  </td>
                  <td width="150">
                    <cv-date-field ng-model="job.end"></cv-date-field>
                    </div>
                  </td>
                  <td>
                    <div class="row" style="margin-bottom: 1px;">
                      <div class="col-sm-3" style="text-align: right;">Typ</div>
                      <div class="col-sm-3">
                        <select class="form-control input-sm" ng-model="job.type">     
                          <option value="employment">Anstellung</option>
                          <option value="employmedProject">Projekt als Angestellter</option>
                          <option value="company">Unternemerische T&auml;tigkeit</option>
                          <option value="freelance">Projekt als Freelancer</option>
                        </select>
                      </div>
                    </div>
                    <cv-ce-form-row label="Firma, Ort" ng-model="job.company" font-style="font-weight: bold;"></cv-ce-form-row>
                    <cv-ce-form-row label="Projekt" ng-model="job.project" font-style="font-weight: bold;"></cv-ce-form-row>
                    <cv-ce-form-row label="Beschreibung" ng-model="job.projectDescription"></cv-ce-form-row>
                    <cv-ce-form-row label="Rolle, Aufgaben" ng-model="job.role"></cv-ce-form-row>
                    <cv-ce-form-row label="Topics/Technologien" ng-model="job.topics"></cv-ce-form-row>
                  </td>
                </tr>
              </tbody>
            </table>          
          </form>
        </div>
      </div>
    </div>
    
    <div id="skills" class="tab-pane" ng-controller="SkillCtrl" ng-init="init()">
      <!-- Skills -->

      <div>
        <ul class="nav nav-pills">
          <li ng-class="{active: category.id == categorySelection}" ng-repeat="category in categories"><a href="#" ng-click="setCategorySelection(category.id)" data-toggle="tab">{{category.name}}</a></li>
        </ul>
        <div class="panel panel-default">
          <div id="all-items-box" class="connectedSortable panel-body" style="min-height: 150px;">
            <div ng-repeat="item in skillItems | filter:byCategory(categorySelection) | orderBy:'name'"
                 id="skill_item_{{item.id}}" class="skillItem">{{item.name}}</div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <span class="panel-title"><strong>{{skillLevelHeader['beginner']}}</strong></span>
              <cv-skill-entry label="Hinzu" skill-list="skillItems" submit-function="addNewSkill(newSkill.beginner, 'beginner')" ng-model="newSkill.beginner"></cv-skill-entry>
            </div>
            <div style="min-height: 250px;" class="panel-body" id="beginner">
                <div ng-repeat="item in skillItems | filter:bySkillSelection('beginner') | orderBy:'name'"
                  id="skill_item_{{item.id}}" class="skillItem">{{item.name}}
                 <small ng-click="removeSkill(item.id)" class="skillRemoveIcon glyphicon glyphicon-remove"></small>
                </div>

            </div>            
          </div>
        </div>

        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <span class="panel-title"><strong>{{skillLevelHeader['advanced'] }}</strong></span>
              <cv-skill-entry label="Hinzu" skill-list="skillItems" submit-function="addNewSkill(newSkill.advanced, 'advanced')" ng-model="newSkill.advanced"></cv-skill-entry>
            </div>
            <div style="min-height: 250px;" class="panel-body" id="advanced">

                <div ng-repeat="item in skillItems | filter:bySkillSelection('advanced') | orderBy:'name'"
                    id="skill_item_{{item.id}}" class="skillItem">{{item.name}}
                 <small ng-click="removeSkill(item.id)" class="skillRemoveIcon glyphicon glyphicon-remove"></small>
                </div>

            </div>            
          </div>
        </div>

        <div class="col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <span class="panel-title"><strong>{{skillLevelHeader['expert']}}</strong></span>
              <cv-skill-entry label="Hinzu" skill-list="skillItems" submit-function="addNewSkill(newSkill.expert, 'expert')" ng-model="newSkill.expert"></cv-skill-entry>
            </div>
            <div style="min-height: 250px;" class="panel-body" id="expert">

                <div ng-repeat="item in skillItems | filter:bySkillSelection('expert') | orderBy:'name'"
                    id="skill_item_{{item.id}}" class="skillItem">{{item.name}}
                 <small ng-click="removeSkill(item.id)" class="skillRemoveIcon glyphicon glyphicon-remove"></small>
                </div>

            </div>            
          </div>
        </div>
      </div>

    </div>
    </div>
    </div>
  </body>
</html>
