<!DOCTYPE html>
<html ng-app="cvio">
  <head>
    <title>Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="lib/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="cv.css" rel="stylesheet" media="screen"/>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/ui/jquery-ui.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-resource.min.js"></script>
    <script src="lib/ui-bootstrap-tpls.min.js"></script>
    
   <script src="cvio.js"></script>
  </head>
  <body>
  
    <div class="container" ng-controller="ListCtrl">
        
      <h1>Profile verwalten</h1>
      <div>
        <a id="btnCreateCV" href="cv.html"
           class="btn btn-default btn-md">
          <span class="glyphicon glyphicon-plus"></span> Neuer CV
        </a>
      </div>
      <br/>
		<div class="container">
			<div class="row">
				<div style="width: 400px;" class="pull-right">
					<div ng-repeat="item in searchSkillItems"
						class="skillItem pull-right">
						{{item.name}} <small ng-click="removeSearchSkill(item)"
							class="skillRemoveIcon glyphicon glyphicon-remove"></small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" style="padding-left: 0px;" 
				    ng-class="{'has-error':seachTermError, 'has-success': filterIDs.length > 0}">
						<span class="input-group">           
						    <span class="input-group-addon glyphicon glyphicon-search"></span>                 
                            <!-- <span class="searchtool glyphicon glyphicon-search control-label"></span> -->
						    <input
						     placeholder="Suchausdruck"
							 type="text" class="input-sm form-control"							
							 ng-model="seachTerm"
							 auto-focus> 
							 <span class="input-group-btn">
                               <button class="btn btn-sm btn-default" ng-class="{'active':appendAsterixToSearch}" ng-click="appendAsterixToSearch=true">*</button>
                               <button class="btn btn-sm btn-default" ng-class="{'active':!appendAsterixToSearch}" ng-click="appendAsterixToSearch=false">exakt</button>
                             </span>
						</span>						                        
                </div>
                <div class="col-md-3" style="line-height: 37px; padding-left:0px;">
                   <a target="_blank" href="http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax">(Experten Syntax)</a>
                </div>
                
                <div class="col-md-2">                
                </div>
				<div class="col-md-3" style="padding-right: 0px;">
					<cv-skill-entry  class="pull-right"  label="Skill Filter" skill-list="skillItems"
						submit-function="addSkillSearchTerm(skillSearchTerm)"
						ng-model="skillSearchTerm"></cv-skill-entry>
				</div>
			</div>
		</div>
		<div class="container">
     <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Vorname</th>
            <th ng-repeat="item in searchSkillItems" style="text-align: right;">{{item.name}}</th>
            <th ng-if="searchSkillItems.length > 0" style="text-align: right;">%</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="cv in cvs | filter:bySearchCriteria() | orderBy:calculateSearchScorePercent:true ">
            <td><a title="Edit CV" href="cv.html?ref={{cv.ref}}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a title="Delete CV" style="margin-left:15px" href="#" ng-click="deleteCV(cv)"><span class="glyphicon glyphicon-trash"></span></a>
                <a title="Download CV" style="margin-left:15px" href="{{host}}api/export/doc/{{cv.id}}"><span class="glyphicon glyphicon-download"></span></a>
            </td>
            <td><a href="cv.html?ref={{cv.ref}}">{{cv.familyName}}</a></td>
            <td><a href="cv.html?ref={{cv.ref}}">{{cv.givenName}}</a></td>            
            <td ng-repeat="item in searchSkillItems" style="text-align: right;">{{cv.skills[item.id]}}</td>
            <td ng-if="searchSkillItems.length > 0" style="text-align: right;">{{calculateSearchScorePercent(cv)}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
      
    </div>
    
  </body>
</html>
